.App {
  text-align: center;
}

.header{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.search {
  width: 90%;
  margin: auto;
  margin-left: 150px;
  margin-top: 40px;
}
.options{
  width: 50%;
  margin: auto;
  margin-right: 400px;
  height: 20px;
}
#pokemon{
  width: 150px;
  height: 50px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pokemon__details{
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  margin-left: 80px;
  gap: 40px;
}

.footer{
  display: flex;
  margin-top: 200px;
}

button{
  width: 100px;
  height: 50px;
}

.left{
  margin-left: 100px;
}

.right{
  margin-left: 1250px;
  margin-right: 100px;
  left: 0;
}